/* PARTE PRINCIPAL */
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* RECOMENDACIONES */
.titulos{
    font-size: 2rem;
    color: #911c0d;
    padding: 0.5rem;
    margin: 10rem 1rem 2rem 1rem;
}

.seccion_libros{
    display: flex;
    justify-content: space-around;
}
.contenedor_libro{
    text-align: center;
}

.imagen_libro{
    width: 12.5rem;
    height: 21.5rem;
    margin: 0.5rem 1rem;
}
.titulo_libro{
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem 1rem;
}
.autor{
    font-size: 0.8rem;
    margin: 1rem;
}
.boton_rojo{
    border: 1px #911c0d solid;
    background-color: #911c0d;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
    margin: 0.5rem 1rem;
}

.contenedor_precio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.precio{
    color: #976905;
    font-weight: bold;
}

/* CONÓCENOS */
.contenedor_conocenos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
    margin: 10rem 0 7rem 0;
}
.conocer_texto, .conocer_imagen{
    width: 50%;
    height: 100%;
}

.titulo_conocenos{
    font-size: 2rem;
    color: #911c0d;
    padding: 0.5rem;
    margin: 0 1rem 0.5rem 1rem;
}
.conocenos_texto1{
    font-size: 1rem;
    text-align: justify;
    margin: 0 3.5rem 0.5rem 1.5rem;
}
.imagen_libreria{
    width: 95%;
    height: 100%;
}
.te_esperamos{
    font-size: 1.2rem;
    color: #911c0d;
    text-align: center;
}